<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> 
        <property name="jndiName" value="jdbc/rw/MESDS"/> 
        <property name="resourceRef" value="false"/> 
    </bean>
    <bean id="m90DataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> 
        <property name="jndiName" value="jdbc/rw/M90DS"/> 
        <property name="resourceRef" value="false"/> 
    </bean>
    <bean id="masterDataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> 
        <property name="jndiName" value="jdbc/rw/M00DS"/> 
        <property name="resourceRef" value="false"/> 
    </bean>
    <bean id="eaiDataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> 
        <property name="jndiName" value="jdbc/rw/EAIDS"/> 
        <property name="resourceRef" value="false"/> 
    </bean>
    <bean id="apsDataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> 
        <property name="jndiName" value="jdbc/rw/APSDS"/> 
        <property name="resourceRef" value="false"/> 
    </bean>
    
    <!-- NUI Message Layout -->
    <bean id="delimiterLayout" class="com.poscoict.glue.biz.dhtmlx.msg.DelimiterMessageLayout"/>
 	<bean id="fixedLengthLayout" class="com.poscoict.glue.biz.dhtmlx.msg.FixedLengthMessageLayout"/>

    <bean id="mesdao" class="com.posdata.glue.dao.PosJdbcDao">
        <property name="dataSource"><ref local="dataSource"/></property>
        <property name="queryManager"><ref local="queryManager"/></property>
    </bean>
    <bean id="m90dao" class="com.posdata.glue.dao.PosJdbcDao">
        <property name="dataSource"><ref local="m90DataSource"/></property>
        <property name="queryManager"><ref local="queryManager"/></property>
    </bean>
    <bean id="masterdao" class="com.posdata.glue.dao.PosJdbcDao">
        <property name="dataSource"><ref local="masterDataSource"/></property>
        <property name="queryManager"><ref local="queryManager"/></property>
    </bean>
    <bean id="eaidao" class="com.posdata.glue.dao.PosJdbcDao">
        <property name="dataSource"><ref local="eaiDataSource"/></property>
        <property name="queryManager"><ref local="queryManager"/></property>
		<property name="auditAttributeOption" value="true"/> 
    </bean>
    <bean id="apsdao" class="com.posdata.glue.dao.PosJdbcDao">
        <property name="dataSource"><ref local="apsDataSource"/></property>
        <property name="queryManager"><ref local="queryManager"/></property>
		<property name="auditAttributeOption" value="true"/> 
    </bean>

    <bean id="queryManager" class="com.posdata.glue.dao.manager.PosQueryManagerImpl">
        <constructor-arg><ref local="cacheManager"/></constructor-arg>
        <constructor-arg><ref local="queryLoader"/></constructor-arg>
    </bean>

    <bean id="cacheManager" class="com.posdata.glue.cache.PosCacheManagerJCS"/>
    <bean id="queryLoader" class="com.posdata.glue.dao.manager.PosQueryLoader"/>

    <bean id="tx1" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
        <property name="dataSource">
            <ref local="dataSource"/>
        </property>
    </bean>
    <bean id="tx2" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
        <property name="dataSource">
            <ref local="m90DataSource"/>
        </property>
    </bean>
    <bean id="tx3" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
        <property name="dataSource">
            <ref local="eaiDataSource"/>
        </property>
    </bean>
</beans>